
#about-area {
    background-color: rgb(40,40,40);
  }

 .img-fluid{
  width: 400px;
 }
  
  
  .about-title {
    font-size: 17px;
    color: var(--cor-letras);
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #about-list {
    list-style: none;
    padding-left: 0;
  }
  
  #about-list li {
    line-height: 30px;
  }
  
  #about-list i {
    color: var(--cor-destaque);
    margin-right: 15px;
  }