
.service-box {
    text-align: center;
    margin-bottom: 40px;
  }
 
  .service-box i, .service-box h4 {
    transition: .5s;
  } 
  
  .main-title{
    margin-bottom: 40px;
    text-align: center;
  }
  .service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--cor-letras);
  }
  
  .service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service-box:hover > i, .service-box:hover > h4 {
    color: var(--cor-destaque);
    transition: 1s;
  }

  /* .service-box:hover > p{
    transition: 1s;
    color: rgb(163, 1, 163);
  } */

/* 
  .service-area{
    height: auto;
  }
   */