#contact-area {
    text-align: center;
  }
  
  #contact-area .row {
    margin: 0 auto;
    justify-content: center;
    
  }

  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--cor-destaque);
  }
  
  .contact-box i {
    color: var(--cor-letras);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 16px;
  }
  
  .contact-tile {
    font-weight: bold;
    color: var(--cor-destaque);
  }
  
  #msg-box p {
    font-size: 22px;
  }
  
  #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  #contact-form .main-btn {
    width: 120px;
    height: 50px;
  }
  

  footer{
    background-color: rgb(40,40,40);
  }
  
  /* Copy */
  
  #copy-area {
    background-color:rgb(60,60,60);
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: var(--cor-letras);
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: var(--cor-destaque);
    transition: 1s;

  }

  .astrofooter{
    width: 260px;
  }

  .astrofooter {
    transition: transform 15s ease;
  }
  
  .astrofooter:hover {
    transform: rotate(360deg);
  }