#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--cor-destaque);
}

.contact-box i {
  color: var(--cor-letras);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: var(--cor-destaque);
}

#msg-box p {
  font-size: 22px;
}

.footer-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 600px;

  padding: 20px;
}

.footer-title {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.footer-risk {
  width: 70%;
  height: 2px;
  background: linear-gradient(
    270deg,
    #343045 0%,
    #c0b7e8 34.9%,
    #8176af 68.75%,
    #343045 100%
  );
}

.footer-input-txt {
  box-sizing: border-box;

  width: 230px;
  height: 30px;

  margin: 6px;
  padding: 20px 10px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;

  outline: none;
}

.footer-input-txt::placeholder,
.footer-input-txt-area::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}

.footer-input-txt:focus,
.footer-input-txt-area:focus {
  /* border: 1px solid #8176af; */
  border: 1px solid #c0b7e8;
  /* border: 1px solid rgb(163, 1, 163); */
}

.footer-input-txt-area {
  box-sizing: border-box;

  width: 500px;
  height: 170px;

  margin: 6px;
  padding: 20px;

  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #ffffff;

  resize: none;

  outline: none;
}

.footer-btn-send {
  width: 214px;
  height: 48px;

  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  border: none;
}

.footer-btn-send:hover {
  background: linear-gradient(90deg, #c0b7e8 0%, #8176af 100%);
  transition: 1s;
}

.input-txt {
  border-radius: 10px;
  padding: 0 25px;
  outline: none;
}

.input-txt-area {
  border-radius: 0px;
  height: 150px;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: var(--cor-destaque);
  transition: 1s;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  background-color: rgb(40, 40, 40);
}

/* Copy */

#copy-area {
  background-color: (var(--cor-destaque));
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: var(--cor-letras);
}

#copy-area .container a:hover {
  text-decoration: none;
  color: var(--cor-destaque);
  transition: 1s;
}

.footer-container-redes-sociais {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1140px;
  height: 280px;

  margin: 6px;
  padding: 40px;

  border-radius: 10px;

  box-shadow: rgba(243, 243, 243, 0.35) 0px 5px 15px;
  font-weight: 400;
}

.footer-img-astronauta {
  max-width: 250px;
  height: 250px;
}

.footer-risk-vertical {
  width: 70%;
  height: 2px;

  transform: rotate(90deg);

  background: linear-gradient(
    270deg,
    #343045 0%,
    #c0b7e8 34.9%,
    #8176af 68.75%,
    #343045 100%
  );
}

.footer-title-redes-sociais {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-size: 26px;
  line-height: 44px;

  color: #ffffff;
}

.footer-container-navegacao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 150px;
  height: 180px;
}

.footer-container-navegacao a {
  text-decoration: none;
  color: #ffffff;
}

.footer-container-navegacao a:hover {
  color: #c0b7e8;
}

.footer-container-contato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 150px;
  height: 180px;
}

.footer-container-conecte {
  width: 150px;
  height: 180px;
}

.footer-container-conecte img {
  width: 40px;
  height: 40px;

  cursor: pointer;
}


@media (min-width: 768px) {
  .footer-container-redes-sociais {
    flex-direction: row;
    align-items: center;
    max-width: 768px;
    padding: 40px;
  }

  .footer-img-astronauta {
    max-width: 150px;
    height: auto;
    margin-bottom: 0;
  }

  .footer-container-navegacao,
  .footer-container-contato,
  .footer-container-conecte {
    margin-bottom: 0;
  }

  .footer-container-conecte img {
    width: 30px;
    height: 30px;
  }

  .footer-risk-vertical {
    width: 70%;
    height: 3px;

    transform: rotate(90deg);

    background: linear-gradient(
      270deg,
      #343045 0%,
      #c0b7e8 34.9%,
      #8176af 68.75%,
      #343045 100%
    );
  }
}

@media (max-width: 767px) {
  .footer-container-redes-sociais {
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 100%;
    padding: 40px;
  }

  .footer-risk-vertical {
    width: 40%;
    height: 3px;

    transform: rotate(180deg);

    background: linear-gradient(
      270deg,
      #343045 0%,
      #c0b7e8 34.9%,
      #8176af 68.75%,
      #343045 100%
    );
  }
  .footer-container-conecte {
    justify-content: center;
    width: 172px;
  }
  .footer-container-contato {
    justify-content: center;
    width: 172px;
  }
  .footer-container-navegacao {
    justify-content: center;
    width: 172px;
  }

  .footer-risk-vertical {
    margin: 20px 0;
  }
}

