:root {
estaque: #800080;
  --cor-letras: #ffffff;
  --border-color: rgba(87, 0, 87, 0.3);
  --bg-text: rgba(112, 112, 112, 0.3);
  --card-bg-shadow: rgba(17, 0, 17, 0.4);
}
html {
  scroll-behavior: smooth;
}
hr {

  /* background-color: purple;
    height: 1px;
    width: 50%; */
  width: 70%;
  height: 2px;
  background: linear-gradient(
    270deg,
    #343045 0%,
    #c0b7e8 34.9%,
    #8176af 68.75%,
    #343045 100%
  );
}
body {
  font-family: 'Roboto', sans-serif;
  height: 1px;
  width: 50%;
}
body {
  background-color: rgb(60, 60, 60);
}

h5 {
  color: white;
}
h3 {
  color: white;
}
.row {
  margin: 0;
}
.forgood {
  color: var(--cor-destaque);
}

.container {
  padding: 70px 0;
}

p,
li {
  color: var(--cor-letras);
  font-size: 14px;
}
