:root {
  /* --cor-destaque: #800080; */
  --cor-destaque: rgb(141, 10, 141);
  --cor-letras: #ffffff;
  --border-color: rgba(87, 0, 87, 0.3);
  --bg-text: rgba(112, 112, 112, 0.3);
  --card-bg-shadow: rgba(17, 0, 17, 0.4);
}
html {
  scroll-behavior: smooth;
}
hr {
  background-color: purple;
  height: 1px;
  width: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(60, 60, 60);
}

h5 {
  color: white;
}
h3 {
  color: white;
}
.row {
  margin: 0 auto;
  gap: 20px 0;
}
.forgood {
  color: var(--cor-destaque);
  transition: 1s;
}
.forgood:hover {
  color: white;
  transition: 1s;
}


.container {
  padding: 70px 0;
}

main {
  padding: 70px 0;
}

p,
li {
  color: var(--cor-letras);
  font-size: 14px;
}

.main-title{
  text-align: center;
  width: 55%;
  margin: auto auto;
  margin-bottom: 50px;

  --g: 20px;     /* the gap */
  --b: 3px;    /* border thickness*/
  --c: var(--cor-destaque); /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}

.main-title:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto rgb(123, 255, 0);
  background-color: rgba(60, 60, 60, 0.95);
  transition: opacity 1s ease;
}

.modal-content {
  background-color: rgb(40, 40, 40);
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  animation: modalzoom 1s;
  color: white;
 
}

.close {
  color: var(--cor-destaque);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 1s ease;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalzoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media(max-width: 500px) {
 
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item .carrosel-item-active{
    height: 25vh;
  }
  
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 1px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    font-size: 14px;
  }


  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }


  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 100%;
    margin-bottom: 30px;
  }


  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }


  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  } 
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }


  .contact-box {
    border: none;
    margin-bottom: 0;
  }
  .main-btn{
   padding: 2px;
   
    
  }

}


  @media(max-width: 768px) {
    
    .container {
      padding: 20px 0;
    }
    
 
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
      height: auto;
    }
  
    #mainSlider .carousel-caption h2 {
      font-size: 28px;
    }
  
    #mainSlider .carousel-caption p {
      font-size: 18px;
      margin-bottom: 40px;
    }
  
    .carousel-caption {
      left: 10%;
      right: 10%;
    }


    #about-area img {
      margin-top: 100px;
    }
    
   
    .circle-box div {
      padding: 0 10px;
    }
  
    #data-area p {
      font-size: 16px;
    }
    
    .card-title h5{
      font-size: 14px;
      color: white;
    }
  
    .card-text h2{
      font-size: 12px;
    }
  
    #apply-area .apply-box {
      padding: 50px 25px;
    }
  
    #news-area p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #email-input {
      width: 70%;
    }
  
    #call-area {
      margin-top: 30px;
    }
  
    #call-area .container {
      padding: 30px;
    }
  
    #call-area p, #call-area #call-btn {
      font-size: 16px;
    }
  
  }