:root {
  --cor-destaque: #800080;
  --cor-letras: #ffffff;
  --border-color: rgba(87, 0, 87, 0.3);
  --bg-text: rgba(112, 112, 112, 0.3);
  --card-bg-shadow: rgba(17, 0, 17, 0.4);
}
html {
  scroll-behavior: smooth;
}
hr {
  background-color: purple;
  height: 1px;
  width: 50%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(60, 60, 60);
}

h5 {
  color: white;
}
h3 {
  color: white;
}
.row {
  margin: 0 auto;
  gap: 20px 0;
}
.forgood {
  color: var(--cor-destaque);
}

.container {
  padding: 70px 0;
}

main {
  padding: 70px 0;
}

p,
li {
  color: var(--cor-letras);
  font-size: 14px;
}
