.specialties-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.container-specialties {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;

  max-width: 900px;

  margin: auto;

  border: 2px solid red;
}
