.specialties-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

