#team-area {
  margin: 0 auto;
  background-color: rgb(40,40,40);
  padding: 80px 50px;
}

.card {
  background-color: rgb(80, 80, 80);
  margin-top: 30px;
  width: 200px;  
  margin: 0 auto;
  box-shadow: -4px 4px 8px var(--card-bg-shadow);
}

.card img {
  width: 80%;
  /* height: 150px; */
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: -4px 4px 8px var(--card-bg-shadow);
}

.card-body {
  text-align: center;
  background-color: rgb(80,80,80);
  border-radius: 0px 0px 7px 7px;
  margin-top: 10px;
}

/* 
.main-title h3 {
  font-size: 50px;
  margin-top: 30px;
  color: rgb(238, 238, 238);
  -webkit-text-stroke: 0.6px black;
} */

.card-text {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  background-color: var(--bg-text);
  /* border-left: 3px solid var(--border-color); */
  /* border-right: 3px solid var(--border-color); */
  box-shadow: 0 0 5px var(--card-bg-shadow);
  color: whitek;
  padding: 2px;
  width: 70%;
  border-radius: 3px;
}

