.card {

  background-color: rgb(80, 80, 80);
  margin-top: 30px;
  width: 80%;  
}



.card-body {
  text-align: center;
  background-color: rgb(80,80,80);
  border-radius: 0px 0px 7px 7px;

}

.main-title1{
  text-align: center;
  margin-top: 70px;
}

.card-text {
  background-color: rgb(189, 189, 189);
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border-radius: 3px;
  color: black;
}