#team-area {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(40,40,40);
  padding: 50px;
}

.card {
  background-color: rgb(80, 80, 80);
  margin-top: 30px;
  width: 80%;  
  margin: 0 auto;
  box-shadow: -4px 4px 8px var(--card-bg-shadow);
}

.card img {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: -4px 4px 8px var(--card-bg-shadow);
}

.card-body {
  text-align: center;
  background-color: rgb(80,80,80);
  border-radius: 0px 0px 7px 7px;
  margin-top: 10px;
}

.main-title{
  text-align: center;
  width: 55%;
  margin: auto auto;
  margin-bottom: 50px;

  --g: 20px;     /* the gap */
  --b: 3px;    /* border thickness*/
  --c: purple; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}

.main-title:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

.main-title h3 {
  font-size: 50px;
  margin-top: 30px;
  color: rgb(238, 238, 238);
  -webkit-text-stroke: 0.6px black;
}

.card-text {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  background-color: var(--bg-text);
  border-left: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  box-shadow: 0 0 5px var(--card-bg-shadow);
  color: black;
  padding: 2px;
  width: 70%;
  border-radius: 3px;
}